<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Super Shopping Simulator</title>
  <link rel="stylesheet" href="http://localhost:3000/styles.css">
</head>
<body>
    <div class="window-big">
      <div class="title-bar-big">
        <span class="title">
          <span class="s">S</span><span class="u">u</span><span class="p">p</span><span class="e">e</span><span class="r">r</span>
          <span class="s">S</span><span class="u">h</span><span class="p">o</span><span class="e">p</span><span class="r">p</span><span class="s">i</span><span class="u">n</span><span class="p">g</span>
          <span class="s">S</span><span class="u">i</span><span class="p">m</span><span class="e">u</span><span class="r">l</span><span class="s">a</span><span class="u">t</span><span class="p">o</span><span class="e">r</span>
        </span>
      </div>
      <h1>OFFICE</h1>
      <div class="windowGreen">
          <!-- Trigger/Open The Modal -->
          <button id="memberButton">Members</button>
      </div>

      <!-- The Modal -->
      <div id="memberModal" class="modal">
          <!-- Modal content -->
          <div class="modal-content">
              <span class="close">&times;</span>

              <h2>Members</h2>

              <ul>
                <% if (members && members.length > 0) { %>                 
                  <% members.forEach(member => { %>
                    <li>
                      <%= member.full_name %>
                      <%= member.email %>
                      <%= member.phone_number %>

                      <!-- Update Form -->
                      <form action="/office/<%= member.id %>" method="POST" style="display:inline;">
                        <input type="text" name="email" placeholder="New Email">
                        <input type="text" name="phone_number" placeholder="New Phone">
                        <button type="submit">Update</button>
                      </form>

                      <!-- Delete Button -->
                      <form action="/office/delete/<%= member.id %>" method="POST" style="display:inline;">
                        <button type="submit" onclick="return confirm('Are you sure?')">Delete</button></a>
                      </form>
                    </li>
                  <% }); %>
                <% } else { %>  
                  <li>No users found</li>
                <% } %>
              </ul>

          </div>
      </div>

      <a href="/<%= memberid%>"><button type="submit">Go Back</button></a>
    </div>
    <script src="modal.js" defer></script>
</body>
</html>